/*
Colors:
#f0f0f0 - white/grey
#131072 - dk purple
#350001 - dark brown
#008cba - light blue (almost twitter blue)
##184f79 - dark blue

*/


body > footer {
    box-sizing: border-box;
    height: calc(100% - 80px);
    position: absolute;
    top: 40px;
    right: 40px;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
}
footer ul {
    position: absolute;
    bottom: 30px;
    right: 10px;
}
footer li {
    padding: 5px 0;
}
footer li a {
    display: block;
    width: 10px;
    height: 10px;
    border: solid 2px #000000;
    border-radius: 50%;
    text-indent: -9999px;
}
footer li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: rgba(19, 16, 114, .5);
    box-shadow: 0 0 1px rgba(19, 16, 114, .5);
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}
footer li a:hover,
footer li a:focus {
    background-color: rgba(19, 16, 114, .5);
}
footer li.current a::after {
    height: 100%;
}
