/*
Colors:
#f0f0f0 - white/grey
#131072 - dk purple
#350001 - dark brown
#008cba - light blue (almost twitter blue)
##184f79 - dark blue

*/


nav.secondNavFill{
    background:rgba(240, 240, 240, 0.6);
    width: 40px;
    height: 100%;
    position: fixed;
    right: 20px;
    top: 50%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
}
/*Secondary Navigation*/
nav ul {
    position: relative;
    display: inline-block;
    bottom: -70%;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
nav li {
    position: relative;
    display: block;
    margin: 7px 16px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    vertical-align: middle;
}
nav li a {
    top: 50%;
    right: 60%;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(240, 240, 240, 0.2);
    text-indent: -999em; /* make the text accessible to screen readers */
    cursor: pointer;
    position: absolute;
}
nav li a:focus {
    outline: none;
}
/* Filling */

.secondNavFill li a {
    overflow: hidden;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(0, 112, 149, .5);
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.secondNavFill li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: rgba(19, 16, 114, .5);
    box-shadow: 0 0 1px rgba(19, 16, 114, .5);
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

.secondNavFill li a:hover,
.secondNavFill li a:focus {
    background-color: rgba(19, 16, 114, .5);
}

