/*
Colors:
#938D79 = medium tan
#54a663 - light grass green
#bfc5bc - light gray
#6D6442 - dark brownish green
#fff - white
#a92e14 - bright rust red for CTA's
*/
article::after {
    content: "";
    display: table;
    clear: both;
}
.update{
    color: #a92e14;
    font-weight: bold;
    text-transform: uppercase;
}

/*some defaults*/
p, li{
    line-height: 1.5;
    color: #6D6442;
}
p.clearfix{
    padding-top: .625em;
    vertical-align: baseline;
}
ol, ul{
	list-style: none outside;
}
a{
	text-decoration: none;
}
a:link{
    color: #54a663;
}
li.active{
    color: #a92e14;
    background:#bfc5bc;
}
.codeContainer {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.codeContainer iframe#resize {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*style of links within text - different than nav links*/
ul#resources li{
    border-right: none;
}
html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    font-family: 'Avant Garde',Avantgarde,'Century Gothic',CenturyGothic,AppleGothic,sans-serif,serif;
    font-size: 100%;
}
body {
    margin: 0 0 6.250em; /* bottom = footer height */
	padding: 0;
	height: 100%;
	background-color: #ffffff;
    color: #6D6442;
}
header{
    max-width: 87.500em;
    top: 0;
    min-height: 11.375em;
    width: 85%;
    margin: 0 auto;
	padding: 0;
	overflow: hidden;	
}
header h1{
    font-family: 'Brush Script MT', cursive;
    font-size: 1.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    line-height: 1em;
    color: #6D6442;
    margin: 0.67em 0 0 auto;
}
header p{
    font-family: 'Avant Garde',Avantgarde,'Century Gothic',CenturyGothic,AppleGothic,sans-serif,serif;
    font-size: .75em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 1.438em;
    color: #54a663;
    margin: 0 0 1em auto;
}
nav, nav ul {
  font-size: .875em;
  color: #6D6442;
  text-align: center;  border-top: 1px solid #d0d0d0;
  background: #ffffff;
  list-style: none;
}
nav li {
  display: inline-block;
  height: 2.500em;
  line-height: 2.50em; /* Vertically center text by making line height equal to height   40px */
  width: 6.250em;
  overflow: hidden;
  text-transform: uppercase;
  position: relative;
  border-left: 1px solid #d0d0d0;
  padding: 0;
  margin: 0 auto;
}
li:last-of-type {
    border-right: 1px solid #d0d0d0;
}
nav li:visited{
    color: #a92e14;
}
nav >ul >li:hover, nav > ul >ul>li:hover {
    background: #938D79;
    color: #f8f8f8;
}

/*main content styling */
section{
    width: 85%;
    margin: 2.5em auto;
    border: 1px solid #6D6442;
    -webkit-box-shadow: 10px 17px 24px -10px rgba(147,141,121,1);
    -moz-box-shadow: 10px 17px 24px -10px rgba(147,141,121,1);
    box-shadow: 10px 17px 24px -10px rgba(147,141,121,1);
    background-color: #f8f8f8;
}
section p, #resources, #personal p, #professional p{
    text-indent: 2.125em;
    padding-right: 2.50em;
    padding-left: 2.50em;
    padding-bottom: .625em;
    padding-top:.625em;
}
section h2, section h3{
    text-indent: 1.125em;
    padding-bottom: .625em;
    padding-top:.625em;
}
article{
    margin-left: 1.250em;
    margin-bottom: 1.688em;
}
/*About Us page specific*/
#personal {
    float: left;
    width: 45%;
}
#personal h1, #personal img{
    text-indent: 1.125em;
}
#personal img, #professional img{
    margin: 2.5em 1.125em 2.5em 1.125em;
    transform: none;
    transition: none;
    -webkit-box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
    -moz-box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
    box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
    width: 250px;
    height: 180px;
}

p:first-child:first-letter {
    font-size: 50px;
}
/*images and examples*/
figure{
    display: inline-block;
    float: left;
    border: 1px dotted gray;
    margin: 1.250em;
}
figure figcaption {
    display: block;
    border: 1px dotted #6D6442;
    text-align: center;
    font-size:.75em;
}
figure img{
    width: 250px;
}
.tootall{
    width: 25%
}
.chosen{
    border:5px double red;
}
img:hover{
    -webkit-transform: scale(2,2);
    -moz-transform: scale(2,2);
    transform: scale(2,2);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    transition: .3s ease-out;
}
footer{
    position: absolute;
    height: 6.250em;
    width: 100%;
    background-color: #f8f8f8;
    bottom: 0;
    text-align: center;
    line-height: 100px;
    color: #bfc5bc;
}
footer p{
    text-align: center;
    line-height: 100px;
    color: #bfc5bc;
    font-size: 1em;
    bottom: 0;
}
footer p:first-child:first-letter {
    font-size: 1em;
}
.scrollup {
    
    width: 5em;
    height: 5em;
    position: fixed;
    bottom: 3.125em;
    right: 6.250em;
    display: none;
    text-indent: -9999px;
    z-index: 9999999999;
    background: url('../images/humminbird.png') no-repeat;
}

@media only screen and (min-width: 960px){
.nav {
  display: block !important;
	}
}
/* Mobile styles */
@media only screen and (max-width: 560px) {
    h1 {
        font-size: 24px;
    }
    #professional, #personal{
        padding-right: 0;
        padding-left: 0;
        width: 85%;
    }
}