/*
Colors:
#938D79 = medium tan
#54a663 - light grass green
#bfc5bc - light gray
#6D6442 - dark brownish green
#fff - white
#a92e14 - bright rust red for CTA's
*/

* { 
  margin:  0;
  padding:  0;
  border:  0;
  vertical-align:  baseline; 
}
*, *:before, *:after {
    box-sizing: content-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}
p, li{
    line-height: 1.5;
    color: #6D6442;
}
p.clearfix{
    padding-top: .625em;
    vertical-align: baseline;
}
ol, ul{
	list-style: none outside;
}
a{
	text-decoration: none;
}
/*style of links within text - different than nav links*/
a.external:link{
    color: #a92e14;
    border-right: none;
}
a.external:visited{
    color: #54a663;
}
a.external:hover{
    color: green;
}
ul#resources li{
    border-right: none;
}
html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    font-family: 'Avant Garde',Avantgarde,'Century Gothic',CenturyGothic,AppleGothic,sans-serif,serif;
    font-size: 100%
}
body {
    margin: 0 0 6.250em; /* bottom = footer height */
	padding: 0;
	height: 100%;
	background-color: #ffffff;
    color: #6D6442;
}
header{
    max-width: 87.500em;
    width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;	
}
/*header styling*/
header{
	top: 0;
	min-height: 11.375em;
    width: 85%;
}
#logo{
    font-family: 'Brush Script MT', cursive;
    font-size: 1.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    line-height: 1em;
    color: #6D6442;
    margin: 0.67em 0 0 auto;
}
#slogan{
    font-family: 'Avant Garde',Avantgarde,'Century Gothic',CenturyGothic,AppleGothic,sans-serif,serif;
    font-size: .75em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 1.438em;
    color: #54a663;
    margin: 0 0 1em auto;
}
nav {
  border-top: 1px solid #eee;
  background: #ffffff;
  text-align: center;
  height: 2.50em;
}
nav ul {
list-style: none;
}
nav li {
  display: inline-block;
  height: 2.500em;
  width: 6.250em;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  border-left: 1px solid #d0d0d0;
  padding: 0;
  margin: 0;
}
li:last-child {
    border-right: 1px solid #d0d0d0;
}
nav li a {
    width: 6.250em;
    font-size: .875em;
    color: #6D6442;
    position: relative;
    display: block;
    line-height: 2.50em; /* Vertically center text by making line height equal to height   40px */
    border-left: 1px solid #d0d0d0;
    margin: 0;
    padding: 0;
}
nav >ul >li.active{
    background: #bfc5bc;
    color: #6D6442;
}
nav >ul >li:hover {
    background: #54a663;
}
/*main content styling */
article{
    width: 85%;
    margin: 2.5em auto;
    border: 1px solid #6D6442;
    -webkit-box-shadow: 10px 17px 24px -10px rgba(147,141,121,1);
    -moz-box-shadow: 10px 17px 24px -10px rgba(147,141,121,1);
    box-shadow: 10px 17px 24px -10px rgba(147,141,121,1);
    background-color: #f8f8f8
}
article p, #resources, #personal p, #professional p{
    text-indent: 3.125em;
    padding-right: 2.50em;
    padding-left: 2.50em;
    padding-bottom: .625em;
    padding-top:.625em;
}
section{
    margin-left: 1.250em;
    margin-bottom: 4.688em;
}
/*About Us page specific*/
#personal {
    float: left;
    width: 45%;
}
#personal h1, #personal img{
    text-indent: 1.125em;
}
#personal img, #professional img{
    margin: 2.5em 1.125em 2.5em 1.125em;
    transform: none;
    transition: none;
    -webkit-box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
    -moz-box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
    box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
}
p:first-child:first-letter {
    font-size: 50px;
}
/*images and examples*/
figure{
    display: inline-block;
    float: left;
    border: 1px dotted gray;
    margin: 1.250em;
}
figure figcaption {
    display: block;
    border: 1px dotted #6D6442;
    text-align: center;
    font-size:.75em;
}
.chosen{
    border:5px double red;
}
img:hover{
    -webkit-transform: scale(2,2);
    -moz-transform: scale(2,2);
    transform: scale(2,2);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    transition: .3s ease-out;
}
footer{
    position: absolute;
    height: 6.250em;
    width: 100%;
    background-color: #f8f8f8;
    bottom: 0;
    text-align: center;
    line-height: 100px;
    color: #bfc5bc;
}
footer p{
    text-align: center;
    line-height: 100px;
    color: #bfc5bc;
    font-size: 1em;
    bottom: 0;
}
footer p:first-child:first-letter {
    font-size: 1em;
}
.scrollup {
    width: 5em;
    height: 5em;
    position: fixed;
    bottom: 3.125em;
    right: 6.250em;
    display: none;
    text-indent: -9999px;
    z-index: 9999999999;
    background: url('../images/humminbird.png') no-repeat;
}
@media only screen and (min-width: 960px){
.nav {
  display: block !important;
	}
}
/* Mobile styles */
@media only screen and (max-width: 560px) {
    h1 {
        font-size: 24px;
    }
    #professional, #personal{
        padding-right: 0;
        padding-left: 0;
        width: 85%;
    }
}