/*
Colors:
#938D79 = medium tan
#54a663 - light grass green
#bfc5bc - light gray
#6D6442 - dark brownish green
#fff - white
#a92e14 - bright rust red for CTA's
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

article::after, section::after{
    content: "";
    display: table;
    clear: both;
}
.update{
    color: #a92e14;
    font-weight: bold;
    text-transform: uppercase;
}

/*some defaults*/
p, li{
    line-height: 1.5;
    color: #6D6442;
}
ol, ul{
	list-style: none outside;
}
a{
	text-decoration: none;
}
a:link{
    color: #6D6442;
}
li.active{
    color: #938D79;
    background:#bfc5bc;
}
/*style of links within text - different than nav links*/
ul#resources li{
    border-right: none;
}
html {
    position: relative;    
    font-family: 'Avant Garde',Avantgarde,'Century Gothic',CenturyGothic,AppleGothic,sans-serif,serif;
    font-size: 100%;
}
body {
    margin: 0 0 6.250em; /* bottom = footer height */
	height: 100%;
	background-color: #ffffff;
    color: #6D6442;
}
header{    
    top: 0;     
    width: 85%;  
    margin: 0 auto;	
	overflow: hidden;	
}
header h1{
    font-family: 'Brush Script MT', cursive;
    font-size: 1.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    line-height: 1em;
    color: #6D6442;
    margin: 0.67em 0 0 auto;
}
header p{
    font-family: 'Avant Garde',Avantgarde,'Century Gothic',CenturyGothic,AppleGothic,sans-serif,serif;
    font-size: .75em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 1.438em;
    color: #54a663;
    margin: 0 0 1em auto;
}
nav, nav ul {
  box-sizing: border-box;  
  background: #f8f8f8;
  border-radius: 5px 5px 0 0;
  padding: 10px 0;
  margin: 0 auto;
}
nav {
  text-align: center;
  border: 1px solid #6D6442;
  border-bottom: 0; 
}
nav li {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

nav li:last-child a {
  border: none;
}
nav li a {  
  padding: 10px 10px;
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-right: 1px solid rgba(255,255,255,0.1);
}
nav li a:visited {
    color: #938D79;
}
nav li a:hover, nav li.active {
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(99,90,99,.5);
  -moz-box-shadow: 10px 10px 5px 0 rgba(99,90,99,.5);
  box-shadow: 10px 10px 5px 0 rgba(99,90,99,.5);
}
/*main content styling */
section{
    width: 85%;
    margin: 2.5em auto;
    border-radius: 0 0 5px 5px;   
    border: 1px solid #6D6442;
    background-color: #f8f8f8;
}
section:first-of-type {
    margin-top: 0;
    border-top: none;
}
section p, #resources {
    text-indent: 2.125em;
    padding-right: 2.50em;
    padding-left: 2.50em;
    padding-bottom: .625em;
    padding-top:.625em;
}
#resources {
    background: #f8f8f8;
}
section h2, section h3{
    text-indent: 1.125em;
    padding-bottom: .625em;
    padding-top:.625em;
}

/*images and examples*/
figure{
    display: inline-block;
    float: left;
    border: 1px dotted gray;
    margin: 1.250em;
}
figure figcaption {
    display: block;
    border: 1px dotted #6D6442;
    text-align: center;
    font-size:.75em;
}
figure img{
    width: 250px;
}
.tootall{
    width: 25%
}
.chosen{
    border:5px double red;
}
img:hover{
    -webkit-transform: scale(2,2);
    -moz-transform: scale(2,2);
    transform: scale(2,2);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    transition: .3s ease-out;
}
footer{
    position: absolute;
    height: 6.250em;
    width: 100%;
    background-color: #f8f8f8;
    bottom: 0;
    text-align: center;
    line-height: 100px;
    color: #bfc5bc;
}
footer p{
    text-align: center;
    line-height: 100px;
    color: #bfc5bc;
    font-size: 1em;
    bottom: 0;
}
footer p:first-child:first-letter {
    font-size: 1em;
}
.scrollup {    
    width: 5em;
    height: 5em;
    position: fixed;
    bottom: 3.125em;
    right: 6.250em;
    display: none;
    text-indent: -9999px;
    z-index: 9999999999;
    background: url('../images/humminbird.png') no-repeat;
}
@media only screen and (min-width: 960px){
.nav {
  display: block !important;
	}
}
/* Mobile styles */
@media only screen and (max-width: 560px) {
    h1 {
        font-size: 24px;
    }
    #about article{
        padding-right: 0;
        padding-left: 0;
        width: 85%;
        height: 100%;
    }
}