/*
Colors:
#938D79 = medium tan
#54a663 - light grass green
#bfc5bc - light gray
#6D6442 - dark brownish green
#fff - white
#a92e14 - bright rust red for CTA's
*/
/*Footer */
/* bottom scroll */
body {   
    background: #000000;
    overflow: auto;
    border: 1px solid red;
    position: relative;
    height: 100%;
}
section footer {
    position: fixed;   /* fixed for display purposes only individually, otherwise absolute */
    left: calc(50% - 30px);
    bottom: 0;
    width: 60px;
    height: 60px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
section footer p{
    font-size: 4em;
    color:#350001;
    padding-left: 45px;
    padding-top: 48px;
    padding-bottom: 5px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
   }
   a {
    text-decoration: none;
   }