/*
Colors:
#e94235 - font and a red
#000 - text black
#f6f6f4 - body
#bab198 - horizontal line
*/

* {
    box-sizing: border-box;
}
html{
    font: 12px/1.5 Georgia, "Times New Roman", Times, serif;
    height: 100%;
}
body {
    max-width: 1200px;
    width: 100%;
    background-color: #f6f6f4;
    color: #3d372d;
    line-height: 1.5;
    position: relative;
    cursor: auto;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h2{
    font-size: 2em;
    padding-bottom: .2em;
}
h2, a{
    color: #e94235;
    font-weight: normal;
    line-height: 1.2em;
}
h3{
    font-size: 1.25em;
    font-weight: lighter;
    text-transform: capitalize;
    padding-bottom: 1em;
}
p{
    font-size: 1.083em;
    padding-bottom: 1em;
    word-break: normal;
    hyphens: auto;
}

/* SECTION ========== */
header {
    background: #ffffff
    background-size: contain;
    width: 90%;
    margin: 0 auto;
}
section {


}
section::after{
    content: "";
    display: table;
    clear: both;
}
/* ARTICLE COLUMNS ========== */
article{
    width: 50%;
    float:left;
    padding-top:30px;
    padding-left:100px;
    padding-right: 100px;
}
article:first-of-type {
    border-right: 1px solid #bab198;
}


