/*
Colors:
#e94235 - font and a red
#000 - text black
#f6f6f4 - body
#bab198 - horizontal line
*/

* {
    box-sizing: border-box;
}
html{
    font: 12px/1.5 Georgia, "Times New Roman", Times, serif;
    height: 100%;
    margin: 0 auto;
}
body {
    max-width: 1200px;
    width: 100%;
    background-color: #f6f6f4;
    color: #3d372d;
    line-height: 1.5;
    position: relative;
    cursor: auto;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h2{
    font-size: 2em;
    padding-bottom: .2em;
}
h2, a{
    color: #e94235;
    font-weight: normal;
    line-height: 1.2em;
}
h3{
    font-size: 1.25em;
    font-weight: lighter;
    text-transform: capitalize;
    padding-bottom: 1em;
}
p{
    font-size: 1.083em;
    padding-bottom: 1em;
}
/* SECTION ========== */
header {
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    line-height: 1;
}
img {
    width: calc(100% + 100px);
    position: relative;
    top:-50px;
    left:-50px;
}
section {
    width: 90%;
    padding: 50px;
    background: #ffffff;
    margin: 0 auto;
}
section::after{
    content: "";
    display: table;
    clear: both;
}
/* ARTICLE COLUMNS ========== */
article {
    width: 50%;
    float:left;
}
article:last-of-type {
    padding-left: 40px;

}
article:first-of-type {
    border-right: 1px solid #bab198;
    padding-right: 40px;
}

/* media queries */
@media screen and (max-width: 700px) {
    article{
        width: 100%;
    }
    article:last-of-type {
    padding-left: 0;
}
article:first-of-type {
    border-right: none;
    padding-right: 0;
    }      
 }
