/*
Colors:
#2a4254 h2
#5a5a5a body font, headers
#750d00  links
*/

* {
    box-sizing: border-box;
}
body{
    max-width: 1200px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    color: #5a5a5a;
    line-height: 1.5em;
}
a {
    color: #750d00;
    text-decoration: none;
}
h2{
    font-size: 1.4em;
    color: #2a4254;
    padding-bottom: 0.75em;
}
figure{
    margin: 0;
}
blockquote{
    font-style: italic;
}

/* SECTION ========== */
section {
    max-width: 750px;
    margin: 0 auto;
}


/* BLOG ARTICLE ========== */
#blog article{
    border-bottom: 1px solid #efefef;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
}
article::after {        /*adding the clearfix as we don't want things to float if we add this to an existing page*/
    content: "";
    display: table;
    clear: both;
}
#blog img {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
}
.wkSummary h2:nth-of-type(2){
    text-transform: uppercase;
}
#blog .button {
    float: right;
}
#blog .button::after{
    content:'\2192';
}

@media screen and (max-width: 850px) {
    section {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 435px) {
    #blog img {
        float: none;
        margin: 0 75px;
    }
}




