/*
Colors:
#f0f0f0 - white/grey
#131072 - dk purple
#350001 - dark brown
#008cba - light blue (almost twitter blue)
##184f79 - dark blue

*/
*, *:before, *:after {
    box-sizing: border-box;
}
a{
    color: #f0f0f0;
}
html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body {
    background: #007095 url(../images/mundial/bg-home.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}
/* Border Frame */
#wrapper{
    border: 25px solid #f0f0f0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
}
section{
    padding: 10px 10px;
    background: url(../images/mundial/logo.png)no-repeat;
    background-size: contain;
    margin: 0 20px;
    height: 500px;
    width: 500px;
    overflow: visible;
    position: fixed;
    z-index: -1;
}
article{
    padding-top: 145px;
    font-size: 24px;
    color: #205881;
    font-family: 'Open Sans', sans-serif;
    line-height: 120%;
    letter-spacing: -1px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
}
h2{
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
    padding-bottom: 20px;
}
/*Primary Navigation*/
#navigation{
    display: none;
}
#navigation:target{
    display: block;
    background-color: #184f79;
    color: #f0f0f0;
    width: 475px;
    height: 500px;
    text-align: center;
    padding-top: 75px;
    padding-left: 100px;
}
#navigation li:first-child a{
    border-top: 1px solid #f0f0f0;
}
#navigation a{
    padding: 15px;
    width: 70%;
    border-bottom: 1px solid #f0f0f0;
    color: #f0f0f0;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
    line-height: 100%;
    background: #184f79;
}
#primaryNav ul{
    display: none;
}
#primaryNav{
    width: 75px;
    height: 75px;
    background-color: #184f79;
}
#primaryNav:before{
    width: 300px;
    height: 75px;
    background-color: #184f79;
}
#primaryNav:after{
    width: 300px;
    height: 300px;
    background-color: blue;
}
#primaryNav-toggle span, #primaryNav-toggle span:before, #primaryNav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 45px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
}
#primaryNav-toggle span{  /*builds the icon -1*/
    top: 25px;
    left: 13px;
}
#primaryNav-toggle span:before {   /*builds the icon -2 */
    top: 10px;
}
#primaryNav-toggle span:after { /*builds the icon -3 */
    bottom: -20px;
}
/*let's make the X */
#primaryNav-toggle span, #primaryNav-toggle span:before, #primaryNav-toggle span:after {
    transition: all 500ms ease-in-out;
}
#primaryNav-toggle.active span {
    background-color: transparent;
}
#primaryNav-toggle.active span:before, #primaryNav-toggle.active span:after {
    top: 0;
}
#primaryNav-toggle.active span:before {
    transform: rotate(45deg);
}
#primaryNav-toggle.active span:after {
    transform: rotate(-45deg);
}
 nav.secondNav.secondNavFill{
    background:rgba(240, 240, 240, 0.6);
    width: 40px;
    height: 100%;
    position: fixed;
    right: 20px;
    top: 50%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
     z-index: -1;
}
/*Secondary Navigation*/
.secondNav ul {
    position: relative;
    display: inline-block;
    bottom: -70%;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.secondNav li {
    position: relative;
    display: block;
    margin: 7px 16px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    vertical-align: middle;
}
.secondNav li a {
    top: 50%;
    right: 60%;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(240, 240, 240, 0.2);
    text-indent: -999em; /* make the text accessible to screen readers */
    cursor: pointer;
    position: absolute;
}
.secondNav li a:focus {
    outline: none;
}
/* Filling */
.secondNavFill li a {
    overflow: hidden;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(0, 112, 149, .5);
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.secondNavFill li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: rgba(19, 16, 114, .5);
    box-shadow: 0 0 1px rgba(19, 16, 114, .5);
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}
.secondNavFill li a:hover,
.secondNavFill li a:focus {
    background-color: rgba(19, 16, 114, .5);
}
.secondNavFill li.current a::after {
    height: 100%;
}
/*Footer */
#square {
    width: 100px;
    height: 100px;
    background: #f0f0f0;
    position: fixed;
    bottom: -25px;
    left: 50%;
    margin-left: -67px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#arrow{
    font-size: 5em;
    color:#350001;
    padding-left: 65px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
#arrow:hover{
    color: #184f79;
}
/* =============================Media Queries */

@media only screen and (max-width: 767px) {
    body {

        background-image: url(../images/mundial/bg-home-small.jpg);  /*7% size of orignal*/
    }
}